@using VideoSharingPlatform.Web.Dtos
@using Microsoft.AspNetCore.Identity
@using VideoSharingPlatform.Core.Entities.AppUserAggregate
@model CommentsResponse
@inject SignInManager<AppUser> signInManager
@inject IHttpContextAccessor httpContext

@{ var totalPages = (int)Math.Ceiling(Model.Count / (double)Model.PageSize); }

<div id="comments">
    <a asp-action="Watch" asp-route-id="@Model.VideoId">Back to Video</a>
    <h1>Comments </h1>

    @if (httpContext.HttpContext is not null && signInManager.IsSignedIn(httpContext.HttpContext.User)) {
        <form method="post" asp-controller="Videos" asp-action="AddComment" asp-route-id="@Model.VideoId" class="input-group">
            <input type="text" class="form-control" placeholder="Enter something" name="content">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Add Comment</button>
            </div>
        </form>
    }

    <hr>

    @if (Model.Comments.Count() == 0) {
        <strong>No Comments Yet</strong>
    }

    @foreach (var comment in Model.Comments) {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@comment.User.UserName</h5>
                <p class="card-text">@comment.Content</p>
                <small class="card-text">@comment.CreatedAtUtc</small>
            </div>
        </div>
    }

    <nav>
        <ul class="pagination" hx-boost="true">
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link"
                    hx-target="#comments"
                    hx-swap="outerHTML"
                    hx-push-url="false"
                    asp-controller="Videos"
                    asp-action="CommentsPartial"
                    asp-route-id="@Model.VideoId"
                    asp-route-pageNumber="@(Model.PageNumber - 1)"
                >Previous</a>
            </li>
            @for (int i = 1; i <= totalPages; i++) {
                <li class="page-item">
                    <a class="page-link"
                        hx-target="#comments"
                        hx-swap="outerHTML"
                        hx-push-url="false"
                        asp-controller="Videos"
                        asp-action="CommentsPartial"
                        asp-route-id="@Model.VideoId"
                        asp-route-pageNumber="@i"
                    >@i</a>
                </li>
            }
            <li class="page-item @(Model.PageNumber == totalPages ? "disabled" : "")">
                <a class="page-link"
                    hx-target="#comments"
                    hx-swap="outerHTML"
                    hx-push-url="false"
                    asp-controller="Videos"
                    asp-action="CommentsPartial"
                    asp-route-id="@Model.VideoId"
                    asp-route-pageNumber="@(Model.PageNumber + 1)"
                >Next</a>
            </li>
        </ul>
    </nav>
</div>