@using VideoSharingPlatform.Web.Dtos
@model VideosResponse

@{ var totalPages = (int)Math.Ceiling(Model.Count / (double)Model.PageSize); }

<h1 class="mb-4">Videos @Model.Videos.Total</h1>
<div class="row">
    @foreach (var video in Model.Videos) {
        <div class="col-lg-6 col-md-12 mb-3">
            <div class="card shadow">
                <img src="@("/thumbnails/" + video.Id + video.ThumbnailExt)" class="card-img-top" alt="Video Thumbnail">
                <div class="card-body">
                    <a asp-action="watch" asp-route-id="@video.Id" class="text-decoration-none text-dark">
                        <h5 class="card-title" style="font-size: 1.5em; margin-bottom: 10px;">@video.Title</h5>
                    </a>
                    <p class="card-text">@video.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Uploaded by: @video.User.UserName</li>
                    <li class="list-group-item">Uploaded at: @video.UpdatedAtUtc.ToString("MMMM d, yyyy 'at' h:mm tt")</li>
                </ul>
            </div>
        </div>
    }
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
        <a class="page-link"
            asp-action="Index"
            asp-route-pageNumber="@(Model.PageNumber - 1)"
        >Previous</a>
    </li>
    @for (int i = 1; i <= totalPages; i++) {
        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
            <a class="page-link"
                asp-route-pageNumber="@i"
            >@i</a>
        </li>
    }
    <li class="page-item @(Model.PageNumber == totalPages ? "disabled" : "")">
        <a class="page-link"
            asp-action="Index"
            asp-route-pageNumber="@(Model.PageNumber + 1)"
        >Next</a>
    </li>
  </ul>
</nav>